
@model RegisterModel

@{
    ViewData["Title"] = "MonsterAir | Sign Up";
    Layout = "_AccountLayout";
}

@section Styles{

    <style>
        .login-popup {
            border-radius: 10px;
            position: relative;
            padding-top: 8%;
            opacity: 0.8;
        }

        .login-body {
            overflow: hidden;
            position: relative;
        }

    </style>

}

<div class="login-popup row">
    <div class="col-lg-5 m-lg-auto">
        <div class="card mt-4">
            <div class="login-card-body p-lg-5">

                <form id="account" method="post">
                    <p class="card-title">Sign Up to start your session</p>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group pt-2">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group pt-2">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group pt-2">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        </div>
                    </div>
                    <p class="mb-0">
                        @Html.ActionLink("SignIn Instead", "Login", "Account")
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{


}